@CHARSET "UTF-8";

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:34px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

	#one{
	  border-right:	1px solid #444444;
	}
	#one:last-child {
	border-right: 0;
	}
table {
	margin-top : 10px;
	margin-bottom : 10px;
	margin-left : 50px;
    border-collapse: collapse;
}
table td {
    border:  0px solid black;
}
table tr {
    border-top: 0;
}
table tr {
    border-bottom: 0;
}
table tr td {
    border-left: 10;
}
table tr td {
    
}