@CHARSET "UTF-8";


.box-radio-input input[type="radio"]{
  display:none;
}

.box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
  border:1px solid #23a3a7;
  background:#23a3a7;
  color:#fff;
}