@CHARSET "UTF-8";


*{
	text-decoration: none;
}
* > a { cursor:pointer; }

* > button { cursor:pointer; }
	

.contents1{
  font-size: 20px;
  font-weight: lighter;
}
.contents2{
  font-size: 25px;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}

#mulum:hover > h5{
	color: red;
	text-decoration: underline;
	border: 2px solid red;
	position: relative;
	padding: 10px;
	
}

/* 주문조회 페이지 */
.mypage-step{
  display: flex;
  width: 100%;
  background: #EAEAEA;
  margin: auto;
  border-radius: 10px;
  height: 18%;
}

.mypage-step > li {
list-style: none;
  flex: 1;
  height: 17%;
}

.mypage-step > ul > li { text-decoration:  none;}
.mypage-step > li > div {
  text-align: center;
  margin-top:30px;
  height:57px;
}

.mypage-step > li:not(:last-child) > div{
  border-right:1px solid #BDBDBD;
}

.test {
	text-decoration: none;
	}


.goods-view{
	display: flex;
}
	
.goods-view > li {
list-style: none;
  flex: 1;
  height: 20%;
}

#orderList {
	text-align: center;
}


#orderList > td {
	vertical-align: middle;
	
}

	
.order-thead {
	background-color: #F6F6F6;
}	

#price {
	color: orange;
	font-size: 15px;
}


#brand {
 color: #A6A6A6;
}


.mypage-step-1{
  top:-66px;
  display: flex;
  width: 100%;
  background: #EAEAEA;
  margin: auto;
  border-radius: 10px;
  height: 10%;
}

.mypage-step-1 > li {
list-style: none;
  flex: 1;
  height: 20%;
}

#detail {
	text-decoration: underline;
	color: #BDBDBD;
}

/* 주문조회  */

/* 상세 주문조회 */

#money {
	color: red;
	font-size: 20px;
	}
	
#detail-h4{
	margin-top: 8%;
	margin-bottom: 2%;
	
	
}

#allmoney {
	font-size: 20px;
}

#order-detail{
	border: 2px solid #EAEAEA;	
	border-radius: 10px;
	height: 6%;
}

#order-detail > ul {
	list-style: none;
	display: flex;
	margin-top: 2%;
	
}

#order-detail > ul > li {
	flex : 1;
	margin-left: 5%;
	font-size: 20px;
	
}

/* 상세 주문조회 */


/*info-page  */
.mypage-step-1 > ul > li { text-decoration:  none;}
.mypage-step-1 > li > div {
  text-align: center;
  margin-top:30px;
  height:57px;
}

.mypage-step-1 > li:not(:last-child) > div{
  border-right:1px solid #BDBDBD;
}


#info {
	
	border: 3px solid #B0BCC2; 
	padding: 40px;
	border-radius: 10px;
	margin-bottom: 10%;
}



/*info-page  */


/*쿠폰, 포인트 페이지*/

#nopnt {
	text-align: center;
	height: 300px;
	
}


#nopnt-text > div {
	margin-top: 5%;
	margin-bottom: 5%;
	height: 100px;
	
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: top center;
	

}

	


.wave {
	margin: 20px;
}

#ptcheck {
	text-align: right;
}

/*쿠폰, 포인트 페이지*/




